body{
    display: grid;
    height: 150vh;
    grid-template-rows:auto 1fr auto;
    grid-template-columns: repeat(12, 1fr);
}

header{
    background-color: antiquewhite;
    padding: 2em;
}
nav ul{
    display: flex;
    gap:20px;
    align-items: center;
    list-style: none;
}
ul{
    list-style: none;
}
ul li:nth-child(2){
    margin-left: auto;
}

main{
    background-color: aquamarine;
    display: flex;
}

footer{
    background-color: bisque;
    padding: 2em;
}
.d-flex{
    display: flex; 
}
.justify-between{
    justify-content: space-between;
}

/* .continor{
    max-width: 980px;
    margin: 0 auto;
} */

.col-12{
    grid-column: 1/ span 12;
}

.continor {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columns by default for desktop*/
     gap: 2rem;  /* Space between grid items */
  }

  @media only screen and (max-width: 768px) {
    .continor {
      grid-template-columns: repeat(2, 1fr);  /*// Switch to 2 columns on tablet*/
    }
  }

  @media only screen and (max-width: 480px) {
    .continor {
      grid-template-columns: 1fr;  /*// Switch to a single column on mobile*/
      text-align: center;
    }

    .continor img {
      margin-bottom: 1rem;  /*// Add space below logo*/
    }
  }